apiVersion: apps/v1
kind: Deployment
metadata:
  name: cme-task
  labels:
    app: cme-task
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cme-task
  template:
    metadata:
      labels:
        app: cme-task
    spec:
      containers:
        # ---------------- BACKEND ----------------
        - name: backend
          image: us-central1-docker.pkg.dev/cme-task-476714/my-docker-repo/test_project-2-backend:latest
          ports:
            - containerPort: 5000
          env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: cme-task-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cme-task-secret
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: cme-task-secret
                  key: DB_NAME
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: cme-task-secret
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: cme-task-secret
                  key: DB_PORT
          resources:
            requests:
              cpu: 150m
              memory: 256Mi
            limits:
              cpu: 300m
              memory: 512Mi
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10

        # ---------------- POSTGRES ----------------
        - name: postgres
          image: us-central1-docker.pkg.dev/cme-task-476714/my-docker-repo/custom-postgres:15-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: cme-task-secret
                  key: DB_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cme-task-secret
                  key: DB_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: cme-task-secret
                  key: DB_NAME
            - name: PGPORT
              value: "5432"
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: 400m
              memory: 1Gi
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data

      volumes:
        - name: postgres-storage
          emptyDir: {}
