# Python environment and cache
test/
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE
.vscode/

# Terraform
phase2-iac/.terraform/
phase2-iac/*.tfstate
phase2-iac/*.tfstate.*
phase2-iac/terraform.tfvars
phase2-iac/terraform.tfvars.example
# Google Cloud credentials
*.json
!package.json
!package-lock.json

# Docker
postgres_data/

# kubernetes manifests
cme-task-secret.yaml